:root {
   --size: clamp(100px, 20vw, 10rem);
}

* {
   box-sizing: border-box;
   margin: 0;
}

body {
   background: rgb(28, 13, 92);
   background: radial-gradient(circle, rgba(28, 13, 92, 1) 0%, rgba(0, 0, 0, 1) 71%);
   height: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

svg {
   transform: translateY(-3rem);
   max-height: clamp(3rem, 9vw, 4.5rem);
}

.container {
   display: grid;
   grid-template-columns: repeat(3, var(--size));
   transform: translateY(-1rem);
}

.container div {
   box-shadow: inset 0 0 12px white;
   width: var(--size);
   height: var(--size);
   border: 0.255rem solid white;
   cursor: pointer;
}

.container div:nth-of-type(-n + 3) {
   border-top: none;
}

.container div:nth-last-of-type(-n + 3) {
   border-bottom: none;
}

.container div:nth-of-type(3n) {
   border-right: none;
}

.container div:nth-last-of-type(3n) {
   border-left: none;
}

.container div:nth-of-type(1) {
   box-shadow: inset -12px -12px 12px -12px #aff4ff;
}

.container div:nth-of-type(2) {
   box-shadow: inset -12px -12px 12px -12px #aff4ff, inset 12px 0 12px -12px #aff4ff;
}

.container div:nth-of-type(3) {
   box-shadow: inset 12px -12px 12px -12px #aff4ff;
}

.container div:nth-of-type(4) {
   box-shadow: inset -12px -12px 12px -12px #aff4ff, inset 0 12px 12px -12px #aff4ff;
}

.container div:nth-of-type(5) {
   box-shadow: inset -12px -12px 12px -12px #aff4ff, inset 12px 12px 12px -12px #aff4ff;
}

.container div:nth-of-type(6) {
   box-shadow: inset 0 -12px 12px -12px #aff4ff, inset 12px 12px 12px -12px #aff4ff;
}

.container div:nth-of-type(7) {
   box-shadow: inset -12px 12px 12px -12px #aff4ff;
}

.container div:nth-of-type(8) {
   box-shadow: inset -12px 12px 12px -12px #aff4ff, inset 12px 0 12px -12px #aff4ff;
}

.container div:nth-of-type(9) {
   box-shadow: inset 12px 12px 12px -12px #aff4ff;
}


.o,
.x {
   height: 100%;
   width: 100%;
   position: relative;
}

.o::before {
   content: "";
   display: block;
   width: 55%;
   height: 55%;
   background: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   background: transparent;
   box-shadow: inset 0 0 0 10px #ffd5d5, inset 0 0 25px #fb2a2a, 0 0 1rem #fb2a2a;
}

.x::before,
.x::after {
   content: "";
   display: block;
   width: 0.65rem;
   height: 66%;
   background: #f5f9b4;
   border-radius: 4px;
   position: absolute;
   top: 50%;
   left: 50%;
   box-shadow: 0 0 20px #f5f9b4;
}

.x::before {
   transform: translate(-50%, -50%) rotate(45deg);
}

.x::after {
   transform: translate(-50%, -50%) rotate(-45deg);
}

.start-btn {
   padding: 0.5rem 1rem;
   background: #19ba29;
   border: 2px solid white;
   color: white;
   border-radius: 4px;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: -1px;
   font-family: "Lato", sans-serif;
   cursor: pointer;
}
